.tabel {
  width: 13cm;
  height: 20cm;
  max-width: 13cm;
  max-height: 20cm;
  min-width: 13cm;
  min-height: 20cm;
  font-size: 16px;
  line-height: 4px;
  border: 3px solid black;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
  padding: 0px;
}

.tabel tr {
  height: fit-content;
}

.center p {
  margin-left: 35px;
}

.center span {
  writing-mode: vertical-rl;
  float: left;
  font-weight: bold;
  position: relative;
  margin: 0px 0px 0px 15px;
}

.bordura,
.bordura td {
  border: 3px solid black;
  border-spacing: 0px;
  padding: 3px 0px 3px 0px;
  border-collapse: collapse;
}
.titlu,
.pret {
  font-size: 24px;
  font-style: italic;
  padding: 2px 15px 2px 15px;
}

.titlu {
  left: 0;
  line-height: normal;
  position: absolute;
}

.pret {
  float: right;
  line-height: normal;
  color: red;
}
